/* GLOBAL 
* {
  font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font", monospace;;
  font-size: 13px;
}
*/
* {
  font-family: "JetBrainsMono Nerd Font Mono", "Symbols Nerd Font", "Noto Color Emoji", monospace;
}

/* BAR */
window#waybar {
  background: rgba(20, 20, 20, 0.85);
  color: #ffffff;
  border-bottom: 2px solid rgba(100, 100, 100, 0.3);
}

/* MODULE BASE */
#workspaces,
#clock,
#temperature,
#gpu,
#cpu,
#memory,
#network,
#pulseaudio,
#window,
#tray {
  padding: 0 10px;
  margin: 0 4px;
}

/* WORKSPACES */
#workspaces button {
  padding: 2px 6px;
  background: transparent;
  color: #aaa;
}

#workspaces button.active {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
}

/* CLOCK */
#clock {
  font-weight: bold;
}

/* NETWORK */
#network.disconnected {
  color: #ff5555;
}

/* AUDIO */
#pulseaudio.muted {
  color: #ff5555;
}
